<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true" data-img="~/member/theme-assets/images/backgrounds/02.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/Member/Dashboard/MemberDashboard/">
                    <!-- Update this with the correct path to your logo -->
                    <img class="brand-logo" alt="Traveller's Path logo" src="https://cdn-icons-png.flaticon.com/512/201/201623.png" />
                    <link rel="icon" href="" type="image/svg+xml" />

                    <h3 class="brand-text">Traveller's Path</h3>
                </a>
            </li>
            <li class="nav-item d-md-none">
                <a class="nav-link close-navbar"><i class="ft-x"></i></a>
            </li>
        </ul>
    </div>

    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
                <a href="/Member/Dashboard/MemberDashboard/">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/Profile/Index/">
                    <i class="fas fa-user"></i>
                    <span class="menu-title">My Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/Destination/Index">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="menu-title">Tour Routes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/Reservation/MyCurrentReservation/">
                    <i class="fas fa-calendar-check"></i>
                    <span class="menu-title">Active Reservation</span>
                </a>
            </li>
            <li class="active">
                <a href="/Member/Reservation/MyPastReservation/">
                    <i class="fas fa-history"></i>
                    <span class="menu-title">Past Reservation</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/Reservation/MyApprovalReservation/">
                    <i class="fas fa-check-circle"></i>
                    <span class="menu-title">Consent Reserv</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/Reservation/NewReservation/">
                    <i class="fas fa-plus-circle"></i>
                    <span class="menu-title">New Reservation</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/Comment/Index/">
                    <i class="fas fa-comments"></i>
                    <span class="menu-title">Comments</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Member/LastDestinations/Index/">
                    <i class="fas fa-map"></i>
                    <span class="menu-title">Last Destinations</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="fas fa-home"></i>
                    <span class="menu-title">Go to Site</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="menu-title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="navigation-background"></div>
</div>

<!-- Include Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
