<ul class="menu-inner py-1" style="list-style: none; padding: 0;">

    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/DashboardControllers/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <!-- Tour Routes -->
    <li class="menu-item">
        <a href="/Admin/Destination/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-map"></i>
            <div data-i18n="Tour Routes">Tour Routes</div>
        </a>
    </li>

    <!-- Comments -->
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-comment-detail"></i>
            <div data-i18n="Comments">Comments</div>
        </a>
    </li>

    <!-- Guests -->
    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Guests">Guests</div>
        </a>
    </li>

    <!-- Messages -->
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Messages">Messages</div>
        </a>
    </li>

    <!-- Guides -->
    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-help-circle"></i>
            <div data-i18n="Guides">Guides</div>
        </a>
    </li>

    <li class="menu-item dropdown">
        <a href="#" class="menu-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Reports">Reports</div>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/PdfReport/Index/" class="dropdown-item d-flex align-items-center">
                    <i class="menu-icon tf-icons bx bxs-file-pdf"></i>
                    <span data-i18n="Pdf Reports">PDF Reports</span>
                </a>
            </li>
            <li>
                <a href="/Excel/Index/" class="dropdown-item d-flex align-items-center">
                    <i class="menu-icon tf-icons bx bxs-file-excel"></i>
                    <span data-i18n="Excel Reports">Excel Reports</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- Highlights -->
    <li class="menu-item">
        <a href="/Admin/Account/Index" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Highlights">Account Transfers</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Mail/Index" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="SendMail">Send Mail</div>
        </a>
    </li>

    <!-- References -->
    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-book"></i>
            <div data-i18n="Roles">Roles</div>
        </a>
    </li>

    <!-- SubAbout -->
    <li class="menu-item">
        <a href="/Admin/Announcement/Index" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-info-circle"></i>
            <div data-i18n="Announcement">Announcements</div>
        </a>
    </li>

    <!-- Reservations -->
    <li class="menu-item">
        <a href="/Member/Reservation/NewReservation/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-calendar"></i>
            <div data-i18n="Reservations">Reservations</div>
        </a>
    </li>

    <!-- City Country Operations -->
    <li class="menu-item">
        <a href="/Admin/City/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Destination">Destination Operations</div>
        </a>
    </li>

    <!-- Password Settings -->
    <li class="menu-item">
        <a href="/Member/Profile/Index/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-lock"></i>
            <div data-i18n="Password Settings">Password Settings</div>
        </a>
    </li>

    <!-- Sign Out -->
    <li class="menu-item">
        <a href="/Login/SignIn/" class="menu-link d-flex align-items-center">
            <i class="menu-icon tf-icons bx bx-log-out"></i>
            <div data-i18n="Sign Out">Sign Out</div>
        </a>
    </li>

</ul>


