<div class="app-brand demo">
    <a href="/Admin/DashboardControllers/Index" class="app-brand-link">
        <span class="app-brand-logo demo">
            <!-- Yeni ikon -->
            <img src="https://cdn-icons-png.flaticon.com/512/201/201623.png" alt="Logo" width="20"> <!-- İkon boyutunu küçülttüm -->
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="font-size: 1.50rem; text-transform: none;">Traveller's Path</span> <!-- Yazıyı küçülttüm -->
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>
