
@{
    ViewData["Title"] = "GetCityDestinationID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Hotel with City ID</h1>
<br />

<form method="post">
<label>Enter City Name</label>
<input  type="text" class="form-control" name="p"/>
<br />
<button class="btn btn-outline-primary">City ID</button>
</form>